h1 {  font-size: 24px;
      font-family: Palatino, 'Palatino Linotype', serif; 
      }
h3 {  font-size: 18px;
      font-family: Palatino, 'Palatino Linotype', serif;
      }
h5 [  font-size: 12px;
      font-family: Palatino, 'Palatino Linotype', serif;
      }


